<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyApp</title>
  </head>
  <body>
    <main>
      <%- include('partials/_header') %>
      <form action="/login" method="post">
        <input
          type="email" 
          name="email"
          autocomplete="off"
          placeholder="Email">
          <br>
        <input
          type="password" 
          name="password"
          placeholder="Password">
          <br>
        <button type="submit">Login</button>
      </form>
    </main>
  </body>
</html>